body
{
    margin: 0px;
    padding: 0px !important;
}

.title
{
    font-size: 50px;
}

/* === Sticky navigation bar === */
.sticky_nav
{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background: #265d73 !important;
}

.sticky_nav ul
{
    padding: 20px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.sticky_nav ul li
{
    display: inline-block;
    margin: 0 10px;
}
    
.sticky_nav ul li a
{
    padding: 10px 0;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}


.logged_email
{
	position: fixed;
	top: 12px;
	right: 5px;
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}

/* - Hide the e-mail when the screen width is under 700px - */
@media (max-width: 700px)
{
	.logged_email
	{
		display: none;
	}
}

.sticky_nav ul li a:hover
{
    color: #000000;
}

/* === Sticky title, under the navigation bar === */
.sticky_title
{
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    height: 50px;
    line-height: 50px;
    background: #172646;

    font-size: 40px;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    color: #8e8e8e;
}

/* === Contents === */

/* - Normal - */
.content
{
    position: relative;
    width: 100%;
    margin-top: 130px;
    background: #96d4dd;
    text-align: center;
}

/* - Centered - */
.content_centered
{
    position: relative;
    width: 100%;
    margin-top: 130px;
    background: #96d4dd;
    text-align: center;
}

/* - Login errors - */
.login_error
{
	font-weight: bold;
	color: red;
}

/* - Log in or out info messages - */
.logged_in_out
{
	font-weight: bold;
	color: green;
}

/* === Equipments' table === */
.table
{
	background: #333;
}

.table ul
{
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #C9C9C9;
}

.table ul li
{
	list-style: none;
	padding: 5px 10px;
}
	
.table ul li.title
{
	font-weight: bold;
	background: #333;
	color: #fff;
}

.table ul li.even
{
	background: #fff;
}
.table ul li.odd
{
	background: #dadad8;
}